* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html,
body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  overflow: hidden;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
